[Unit]
Description = Oblig Server daemon
After network.target = auditd.service

[Service]
Type = forking
ExecStart = /usr/local/bin/oblig_serverd.sh start
ExecStop = /usr/local/bin/oblig_serverd.sh stop
ExecReload = /usr/local/bin/oblig_serverd.sh reload

[Install]
WantedBy = multi-user.target